<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <!-- resultMap映射 -->
    <resultMap id="userRM" type="com.ssm.domain.User">
        <!-- 主键 -->
        <id property="id" column="id"/>
        <!-- 一般属性 -->
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="file" column="file"/>
    </resultMap>

    <!-- 查询 -->
    <select id="find" parameterType="map" resultMap="userRM">
        SELECT * FROM user
    </select>
    <!-- 添加 -->
    <insert id="insert" parameterType="com.ssm.domain.User">
        insert into user
        (username,password,file) values(#{username},#{password},#{file})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.ssm.domain.User">
    update user
        <set>
          <if test="username!=null"> username=#{username}, </if>
          <if test="password!=null"> password=#{password}, </if>
          <if test="file!=null"> file=#{flie}, </if>
        </set>
        where id=#{id}
    </update>

    <!-- 查询一个 -->
    <select id="get" resultMap="userRM" parameterType="int">
        select * from user where id=#{id}
    </select>

    <!-- 删除一个 -->
    <delete id="deleteById" parameterType="int"> delete from user where id=#{id} </delete>

    <!-- 删除多个 -->
    <delete id="delete" parameterType="map">
        delete from user where id in
    <foreach separator="," item="id" open="(" collection="ids" close=")"> #{id} </foreach>

    </delete>

    <!-- 分页查询 -->
    <select id="findPage" resultMap="userRM" parameterType="com.ssm.pagination.Page">
        select * from user
    </select>

    <!-- 查询username -->
    <select id="getUserName" parameterType="string" resultMap="userRM">
        select username from user WHERE username=${username}
    </select>
</mapper>
